{% extends 'main/base.html' %}
{% load static %}
{% load cloudinary %}
<head>
    {% block title %}
    <title>Dress Detail</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 my-2">
                {% for data in item %}
                <div class="dress-image">
                    <img src="{{data.image.url}}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 my-2">
                <div class="col-12 col-md-6 my-2">
                    <div class="card p-3 text-white product-card" style="background-color:#001524;">
                    <h3 class="product-name">Name : {{data.name}}</h3>
                    <p class="product-price">price : AED {{data.price}} </p>
                    <p class="product-material-detail">Material Name NAME : {{data.material_name}} </p>
                    <h3 class="mt-3"><b>Product Details  </b></h3>
                    <h4>{{data.description}}</h4>
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
    {% endblock content %}
</body>