{% extends 'main/base.html' %}
{% load static %}
<head>
    {% block title %}
    <title>Caps & Flags</title>
    {% endblock title %}
</head>

<body>
    {% block content %}
    <div class="container">
        <!--DESCRIPTIONS-->
        <div class="description text-white rounded my-3" style="background-color:#001524;">
            {% comment %} <li class="p-3">Safety clothings are the items of personal properties equipments that are intended to keep the wearer safe and protectine. The PPE function like improved visibility is made up of polyster, cotton,Fluropolymer fabrics with reflective markings. These items are coloured in theroscent yellow or orange to help and distinguish human figures in many applications. </li>
            <li class="p-3"> For chemical resistance the dress is made up inert or chemically resistant materials cotton, polyster, neoprenc, PVC, PVA and visor. By this provides the wearers of extended cuffs and a tight fit with flexible unencumbered movement. </li> 
            <li class="p-3"> For puncture resistance thuse items will have polymer, rubber or PVC reinforcement in material joints.</li>
            
            <li class="p-3">For radiation protection is made up of synthetic fibers, plastic, lead and lead---- garments pressurized lead --- suits are reserved for extreme exposure</li> {% endcomment %}
        </div>
        <div class="row item text-center" >
            {% for i in data %}
            <div class="col-6 col-md-4  item-col" >
                <div class="card m-3 item-card">
                    <a href="{% url 'caps_details' id=i.id %}">
                        <img src="{{i.image.url}}" class="card-img-to image-fluid" alt="{{i.name}}" >
                    </a>
                    <div class="card-body item-body">
                        <h4>{{i.name|truncatechars:20}}</h4>
                        <h3><b>AED {{i.price}}</b></h3>
                    </div>
                </div>
                
            </div>
            {% endfor %}

            <!--PAGINATOR-->
            <div class="d-flex justify-content-center">
                {% if item_paginator.has_other_pages %}
                <ul class="pagination">
                    {% if item_paginator.has_previous %}
                        <li class="page-item"><a href="?page={{ item_paginator.previos_page_number}}" class="page-link">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for i in item_paginator.paginator.page_range %}
                        {% if item_paginator.number == i %}
                            <li class="active"><span class="page-link">{{i}}</span></li>
                        {% else %}
                            <li class="page-item"><a href="?page= {{i}}" class="page-link"> {{i}} </a></li>
                        {% endif %}
                    {% endfor %}

                    {% if item_paginator.has_next %}
                        <li class="page-item"><a href="?page={{ item_paginator.next_page_number}}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul> 
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock content %}
</body>