{% extends 'main/base.html' %}
{% load static %}

<head>
    {% block title %}
    <title>Admin</title>
    {% endblock title %}
</head>

<body>
    {% block content %}
    <div class="container custom-height">
        <div class="text-center">
            <a href="{% url 'safety_dress_upload' %}" class="btn btn-primary my-4">safety_dress_upload</a>
            <br>
            <a href="{% url 'uniforms_upload' %}" class="btn btn-primary my-4">uniforms_upload</a>
            <a href="{% url 't_shirt_upload' %}" class="btn btn-primary my-4">t_shirt_upload</a>
            <a href="{% url 'cap_upload' %}" class="btn btn-primary my-4">cap_upload</a>
        </div>
    </div>
    {% endblock content %}
</body>