{% extends 'main/base.html' %}
{% load static %}
{% load cloudinary %}
<head>
    {% block title %}
    <title>Bright Stitching</title>
    {% endblock title %}
    
</head>
<body>
    {% block content %}
    <!-- CAROUSEL -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="{% static 'img/banners/safetyWear.gif' %}" class="d-block w-100" alt="safetywear">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'img/banners/Uniforms.gif' %}" class="d-block w-100" alt="uniform">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'img/banners/T-shirt.gif' %}" class="d-block w-100" alt="t-shirt">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'img/banners/cap.gif' %}" class="d-block w-100" alt="cap">
            </div> 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
     
        <div class="text-center">
            <a href="{% url 'safety_dress_upload' %}">safety_dress_upload</a>
            <br>
            <a href="{% url 'uniforms_upload' %}" class="btn btn-primary my-4">uniforms_upload</a>
            <a href="{% url 't_shirt_upload' %}" class="btn btn-primary my-4">t_shirt_upload</a>
            <a href="{% url 'cap_upload' %}" class="btn btn-primary my-4">cap_upload</a>
        </div>
        <div class="container text-center shadow rounded intro" >
            <h1 class="intro-heading">BRIGHT STITCHING</h1>
            <p>We are the leading uniform manufacturers in UAE. We coneptualize, design & manufacture customized uniforms for corporate companies, hotels, schools, hospitals & others at Bright Stitching, no job is too big or too small.</p>
            <p>We offer single, one-off t-shirt embroidery, all the way up to multi-thousand piece embroidery. Plus, with a catalogue of over high quality garments and accessories to choose from, you'll be spoilt for choice</p>
            <p>Uniforms made by us would suit the professional image of your organization. Our local manufacturing unit is based in Abu Dhabi, U.A.E and international units in India, China and Pakistan enabling us to accept local as well as export orders.</p>
            <p>We use high quality reputed machinery to provide exceptional quality and desing that is a clear symbol of our perrfection and elegance.</p>
        </div>
        
        <div class="container rounded" >
            <div class="row text-center my-5 product shadow-lg">
                <div>
                    <h1 class="product-title">Safety Wear</h1>
                </div>
                <div class="col-12 col-md-6 my-2">
                    <div class="card" >
                        <a href="{% url 'safety_wear_page' %}">
                            <img src="{% static 'img/safety_dress.png' %}" class="img-fluid rounded-2 w-100" style="max-height:30rem; object-fit:cover;" alt="safty dress">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-content-around flex-wrap my-2 rounded product-text" style="background-color:#15616d;">
                    <div >
                        <h4 class="text-white m-5">Safety clothings are the items of personal properties equipments that are intended to keep the wearer safe and protectine.</h4>
                    </div>

                    <div class="m-auto">
                        <a href="{% url 'safety_wear_page' %}" class="btn btn-outline-warning my-1">View All <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>

            {% comment %} UNIFORMS {% endcomment %}
            <div class="row text-center my-5 product shadow-lg">
                <div>
                    <h1 class="product-title">Uniforms</h1>
                </div>
                <div class="col-12 col-md-6 my-2 " >
                    <div class="card" >
                        <a href="{% url 'uniformpage' %}">
                        <img src="{% static 'img/uniform.png' %}" class="img-fluid rounded-2 w-100" style="max-height:30rem; object-fit:cover;" alt="safty dress">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-content-around flex-wrap rounded my-2 product-text" style="background-color:#1d3557;">
                    <div>
                        <h4 class="text-white m-5">Uniforms speak volumes when it comes to maintaining a consistent, professional image for your employees, which is key to attracting guests and differentiating your business from the competition. Uniforms make a positive impact and are what customers expect.</h4>
                    </div>
                    <div class="m-auto">
                        <a href="{% url 'uniformpage' %}" class="btn btn-outline-warning my-1">View All <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
                
            </div>

            <!-- T-SHIRTS -->
            <div class="row text-center my-5 product shadow-lg">
                <div>
                    <h1 class="product-title">T-Shirts</h1>
                </div>
                <div class="col-12 col-md-6 t_shirt my-2 ">
                    <div class="card rounded-circle" >
                        <a href="{% url 'tshirtpage' %}">
                            <img src="{% static 'img/t-shirt.png' %}" class="img-fluid rounded-2 w-100" style="max-height:30rem; object-fit:cover;" alt="safty dress">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-content-around flex-wrap my-2 rounded product-text" style="background-color:#51526F;">
                    <div class="">
                        <h4 class="text-white m-5" style="min-height:150px;">T-shirt, or tee, is a style of fabric shirt named after the T shape of its body and sleeves. Traditionally, it has short sleeves and a round neckline, known as a crew neck, which lacks a collar. <br>
                            T-shirts are available in a variety of colors, patterns, and styles, such as the standard crew neck and V-neck, as well as tank tops and scoop necks.</p>
                    </div>

                    <div class="m-auto">
                        <a href="{% url 'tshirtpage' %}" class="btn btn-outline-warning my-1">View All <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>

            <!-- CAPS -->
            <div class="row text-center my-5 product shadow-lg">
                <div>
                    <h1 class="product-title">Caps & Flags</h1>
                </div>
                <div class="col-12 col-md-6 t_shirt my-2 ">
                    <div class="card rounded-circle" >
                        <a href="{% url 'cappage' %}">
                            <img src="{% static 'img/cap.png' %}" class="img-fluid rounded-2 w-100" style="max-height:30rem; object-fit:cover;" alt="safty dress">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-content-around flex-wrap my-2 rounded product-text" style="background-color:#001f54;">
                    <div class="">
                        <h4 class="text-white m-5" style="min-height:150px;">cap is a flat headgear, usually with a visor. Caps have crowns that fit very close to the head. It is a soft, flat hat with a curved part at the front which is called a peak.Its compatibility with all body types, as well as the variety of models available, also explain the success of this accessory.</h4>
                    </div>

                    <div class="m-auto">
                        <a href="{% url 'cappage' %}" class="btn btn-outline-warning my-1">View All <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
