@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: #d8f3dc;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #cce3de;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #d5f7f7;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* BASE PAGE contact form */
.badge{
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-right: 15px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004046;
}
.badge:hover{
    background-color: #001524 !important;
}
/* INDEX PAGE */
.carousel-inner > .carousel-item > img {
    height: 75vh;
    object-fit: cover;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.navbar{
    font-size: 20px;
    font-weight: 600;
}
.btns{
    border: 2px white solid;
    color: white;
}
/* .btns:hover{
    background-color: #ffea00;
    box-shadow: 11px 12px 111px  #ffea00;
    color:black;
    border: none;
} */
.intro{
    border-radius: 36px;
    background: #00f5d4;
    box-shadow:  3px 3px 10px #0bc7ae,
             -3px -3px 10px #00f5d4 !important; 
    
}
.intro-heading{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600; 
    
}
.intro p{
    padding: 0px 10px;
    
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}

.product{
    min-height:30rem;
}
.product-title{
    font-family: 'Exo 2', sans-serif;   
    font-size: 60px;
    font-weight: 700;
    color: #065a60;   
}
.product-text{
    text-indent: 10px;
}
.product-text:hover{
    background-color: #001524 !important;
    transition: all 1s ease-in-out;
    
}

/* SAFETY WEAR PAGE */
.description{
    font-size: 20px;
    font-weight: 500;
    
}

.item-card{
    border-radius: 16px;
    overflow: hidden;
    height: 22rem;
    box-shadow:  7px 7px 14px #004046,
             -7px -7px 14px #009aa8;
}
.item-card > a >img{
    max-height: 17rem;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 10px;
}
.item-body{
    
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin-top: -16px;
}


/* DRESS DETAIL VIEW */
.dress-image > img{
    max-height: 40rem;
    width: 100%;
}
.product-card{
    min-width: 35rem;
}
.product-name{
    font-weight: 600;
    text-transform: capitalize; 
}
.product-price{
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize; 
}
.product-material-detail{
    font-size: 20px;
    font-weight: 600;
}




