{% extends 'main/base.html' %}
{% load static %}
{% load cloudinary %}
<head>
    {% block title %}
    <title>T-Shirts</title>
    {% endblock title %}
</head>

<body>
    {% block content %}
    <div class="container">
        <!--DESCRIPTIONS-->
        <div class="description text-white rounded my-3" style="background-color:#001524;">
             <li class="p-3">T-shirt, or tee, is a style of fabric shirt named after the T shape of its body and sleeves. Traditionally, it has short sleeves and a round neckline, known as a crew neck, which lacks a collar. </li>
            <li class="p-3"> T-shirts are generally made of a stretchy, light, and inexpensive fabric and are easy to clean.T-shirt has become an essential basic wardrobe item worn by people of all social classes and ages. </li> 
            <li class="p-3"> The cotton T-shirt has remained a mainstay of sports activities because it is absorbent, quick-drying, and allows free range of movement.</li>         
            <li class="p-3">The T-shirts' role in sports has moved beyond team identification and practical function; it is crucial to the marketing, promotion, and profitability of the sports industry.</li>  
            <li class="p-3">T-shirts are available in a variety of colors, patterns, and styles, such as the standard crew neck and V-neck, as well as tank tops and scoop necks. T-shirt sleeves may be short or long, capped, yoked, or raglan. Additional features include pockets and decorative trim.</li>  
            <li class="p-3">T-shirts are also popular garments on which to display one's interests, tastes, and affiliations using customized screen prints or heat transfers.</li>  
            <li class="p-3">Printed shirts may feature political slogans, humor, art, sports, as well as famous people and places. T-shirts are also inexpensie promotional vehicles for products and special events.</li>  
        </div>
        <div class="row item text-center" >
            {% for i in data %}
            <div class="col-10 col-md-4  item-col" >
                <div class="card m-3 item-card">
                    <a href="{% url 't_shirt_details' id=i.id %}">
                        <img src="{{i.image.url}}" class="card-img-to image-fluid" alt="{{i.name}}" >
                    </a>
                    <div class="card-body item-body">
                        <h4>{{i.name|truncatechars:20}}</h4>
                        <h3><b>AED {{i.price}}</b></h3>
                    </div>
                </div>
                
            </div>
            {% endfor %}

            <!--PAGINATOR-->
            <div class="d-flex justify-content-center">
                {% if item_paginator.has_other_pages %}
                <ul class="pagination">
                    {% if item_paginator.has_previous %}
                        <li class="page-item"><a href="?page={{ item_paginator.previos_page_number}}" class="page-link">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for i in item_paginator.paginator.page_range %}
                        {% if item_paginator.number == i %}
                            <li class="active"><span class="page-link">{{i}}</span></li>
                        {% else %}
                            <li class="page-item"><a href="?page= {{i}}" class="page-link"> {{i}} </a></li>
                        {% endif %}
                    {% endfor %}

                    {% if item_paginator.has_next %}
                        <li class="page-item"><a href="?page={{ item_paginator.next_page_number}}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul> 
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock content %}
</body>